/* Rofi config file */
/* From https://github.com/davatorium/rofi-themes */
configuration {
    lines: 10;
    font: "Noto Sans CJK SC 11";
    show-icons: true;
    theme: "base16-classic-dark.rasi";
    display-window: "Window";
    display-drun: "Run";
}